<%- include header %>
<div class="page">
    <div class="hd">
        <h3 style="color:#888;text-align:center">个人信息</h3>
    </div>

    <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p><%= username %></p>
            </div>
            <div class="weui_cell_ft">姓名</div>
    </div>
    <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p><%= stuNum %></p>
            </div>
            <div class="weui_cell_ft">学号</div>
    </div>
    <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p><%= className %></p>
            </div>
            <div class="weui_cell_ft">班级</div>
    </div>
    <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p><%= phoneNum %></p>
            </div>
            <div class="weui_cell_ft">电话</div>
    </div>



</div>
<%- include footer %>
